// Libraries import
@import "font-awesome-sprockets";
@import "bootstrap-sprockets";
@import "font-awesome";
@import "bootstrap";

// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// Our CSS
@import "layout/*";
@import "components/*";
@import "components/hero";
@import "components/affiliate";
@import "pages/*";
@import "pages/about";
@import "pages/services";
@import "pages/recruit";
@import "pages/contact";
@import "vendor/*";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

p {
  font-family: 'Montserrat', sans-serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}


