.affiliate_section h1 {
  text-align: center;
}

.affiliate_container {
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  text-align: center;
  font-weight: lighter;
}


