

.services_container h1 {
  text-align: center;
  margin-top: 100px;

}

.services_grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
border: 2px solid blue;

}

.services_img {
  width: 150px;
  height: auto;
}

.services_grid .box {
  position: relative;
  background: #fff;
  text-align: center;
  overflow: hidden;
  border-radius: 20px;
}
