<div class="container about_container">
  <h1>About Us</h1>
  <div class="row about_row">
    <div class="col-md-6">
      <h2> We believe websites can change the world </h2>
      <p>We created Maru Tech to help websites reach the next level. Our services
      guarantee that your eCommerce store, SaaS, blog, or whatever else goes beyond
      your expectations and reach its true potential. A design that inspires, a build
      that is light and speedy, copywriting that engages audiences. No matter what you need
      Maru Tech provides a superior service.</p>
    </div>
    <div class="col md-6">
      <%= image_tag 'aboutimg1.png', class: 'about_img' %>
    </div>
  <h1>Meet Our Team</h1>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
        </div>
        <div class="team-content">
          <h3 class="name">Masahiro Miyata</h3>
          <h4 class="title">Web Developer</h4>
        </div>

      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=839">
        </div>
        <div class="team-content">
          <h3 class="name">Nadia Novers</h3>
          <h4 class="title">Web Developer</h4>
        </div>

      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=856">
        </div>
        <div class="team-content">
          <h3 class="name">Dan Davidson</h3>
          <h4 class="title">Web Developer</h4>
        </div>

      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=836">
        </div>
        <div class="team-content">
          <h3 class="name">Isabeau Nakajima</h3>
          <h4 class="title">Web Developer</h4>
        </div>

      </div>
    </div>
</div>



