<div class="container about_container">

  <div class="row about_row">
    <div class="col-md-6">
      <h2> We believe websites can change the world </h2>
      <p>We created Maru Tech to help websites reach the next level. Founded in 2020,
      Maru Tech reaches clientele from across the world. We focus on startups since we know
      the challenges small companies face when competing against larger brands.
      Maru Tech specializes in analyzing what websites need the most and companies achieve
      their goals. Our diverse staff values teamwork and open communication.
      </p>
    </div>
    <div class="col md-6">
      <%= image_tag 'aboutimg1.png', class: 'about_img' %>
    </div>
  <h1>Meet Our Team</h1>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="images/profile5.png">
        </div>
        <div class="team-content">
          <h3 class="name">Michael Danielson</h3>
          <h4 class="title">President</h4>
        </div>

      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="images/profile2.jpg">
        </div>
        <div class="team-content">
          <h3 class="name">Nadia North</h3>
          <h4 class="title">Web Developer</h4>
        </div>

      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="images/profile6.jpeg">
        </div>
        <div class="team-content">
          <h3 class="name">Erica Smith</h3>
          <h4 class="title">Web Developer</h4>
        </div>

      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="images/profile4.jpg">
        </div>
        <div class="team-content">
          <h3 class="name">Isabeau Nakajima</h3>
          <h4 class="title">UX/UI Designer</h4>
        </div>

      </div>
    </div>
  </div>
</div>



