<div class="hero jumbotron">
    <a class="btn btn-primary btn-lg" href="/about.html" role="button">Learn more</a>
  </p>
</div>
  <section class="project_section">
    <div class="container project_container">
    <h1 class="project_header">Project</h1>
    </div>
  </section>
