<div class="hero jumbotron">
    <a class="btn btn-primary btn-lg" href="/about.html" role="button">Learn more</a>
  </p>
</div>
  <section class="project_section">
    <h1>Project</h1>
<div class="container project_container">
  <%= image_tag 'phonemock.png', class: 'project_container_image' %>
  <div class="project_container_text">
    <%= image_tag 'logo.png', class: 'project_container_image pci_logo' %>
    <p>Maru Tech brings life to your websites. We ensure that your homepages
        are visually engaging while maintaining their speed and ease of use.</p>
  </div>
</div>
  </section>

    <section class="affiliate_section">
      <h1>Affiliates</h1>
    <div class="container affiliate_container">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card affiliate_card">
    <img src="images/zou.png" alt="picture description" width="250">

    <p>Zou Design creates content for Tokyo's most exciting startups.</p>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card affiliate_card">
      <img src="images/xcode.png" alt="picture description" width="250">
    <p>XRCODE specializes in thorough testing for new apps and sites.</p>
    </div>
    </div>




    </section>


