<div class="recruit jumbotron">
</div>


    <h1 class="recruit_header">Open Positions</h1>
<div class="container recruit_container">
  <h2>Web Developer</h2>
  <div class="recruit_container_text">

    <p>Maru Tech brings life to your websites. We ensure that your homepages
        are visually engaging while maintaining their speed and ease of use.</p>
  </div>
</div>

