<div class="recruit jumbotron">
</div>


    <h1 class="recruit_header">Open Positions</h1>
<div class="container recruit_container">
  <h2 class="open_position">Front End Developer</h2>
  <div class="recruit_container_text">
    <p class="position_desc">We are looking for a front end web developer who
      has strong UX/UI fundamentals and experience with React.
    </p>

  </div>
</div>


<div class="container recruit_container">
  <h2 class="open_position">Accountant</h2>
  <div class="recruit_container_text">
    <p class="position_desc">We need someone who can handle juggling payroll along
      with payments from dozens of different clients.
    </p>
  </div>
</div>

